/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../../common/variables" as *;
@use "../../common/mixins" as *;


.Header {

	&__navigation {

		position: absolute;
		width: 100%;
		max-height: calc(100vh - $header-height);
		padding-bottom: 3em;
		top: $headerHeight;
		left: 0;
		z-index: 9999999;
		background-color: $white;
		overflow-y: scroll;
		display: none;

		&--mobile {
			display: block;

			ul.nav {
				display: grid;
				grid-template-columns: 1fr;
				border-bottom: 1px solid $primary-light;

				li {
					padding: 0.6em 0;

					&.menu-item-has-children {
						position: relative;

						> a {
							display: flex;
							justify-content: space-between;
						}
					}

					a {

						&::after {
							transform: rotate(-90deg) translate(2px, 0);
							transition: transform 0.3s ease;
						}

						&::before {
							content: none;
						}
					}


					&.active {

						a::after {
							transform: rotate(0deg);
							transition: transform 0.3s ease;
						}
					}
				}

			}


			.Header__buttons {
				margin-top: 2em;
				padding: 0 2em;

				.Button {
					width: 100%;
				}

				button {
					display: none;
				}
			}

			.Button--login {
				display: flex;
				justify-content: center;
				color: $black;
				border: 1px solid $black;
				margin-top: 1em;
				height: 3.15em;
				border-radius: $border-radius-6;

				span {
					font-size: 0.875rem;

					&::before {
						content: none;
					}
				}
			}

		}

		ul.nav {
			width: 100%;
			font-weight: 600;
			padding: 1.5em;

			> li {
				position: relative;
				transition: all 0.3s;

				&:hover,
				&.active {

					> a {

						color: $gray-900;
					}
				}

				a {
					color: $gray-900;
					text-decoration: none;
					font-weight: $font-weight-normal;
				}

			}

			> li:has(.submenu) {

				> a {

					> .menu-item__icon {

						@include square(0.625em);
						position: relative;
						margin-left: 0.25em;
						top: -2px;
						transform: scaleY(1);
						transition: transform 0.3s ease;
						color: currentcolor;
					}
				}

				&:hover,
				&.active {

					> a {

						> .menu-item__icon {
							transform: scaleY(-1);
						}
					}
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			position: relative;
			top: 0;
			display: flex;
			align-items: center;
			margin-left: auto;
			transform: unset;
			animation: unset;
			flex-direction: row;
			height: auto;
			padding-bottom: 0;
			overflow: visible;
			justify-content: space-between;
			width: 100%;

			.Header__buttons {
				position: relative;
				display: flex;
				gap: 1em;
				margin-left: 0.75em;
				z-index: 2;

				.Button {
					max-width: 5.6875em;

					&--login {

						&:hover {

							&::before {
								background: $sky-blue;
							}

							&::after {
								content: none;
							}

							> span {
								background: var(--flowhunt-hover, linear-gradient(136deg, #0497DC 39.1%, #465CE0 109.91%));
								background-clip: text;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
							}
						}
					}

					+ .Button {
						margin-left: 0 !important;
					}
				}
			}

			ul.nav {
				display: flex;
				align-items: center;
				height: auto;
				margin-left: auto;
				margin-bottom: 0;
				padding: 0;

				> li {

					&.menu-item:not([class^="label"]):not([class^="icn"]) {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						padding: 1em;
					}

					&.active,
					&:has(.active) {

						> a::before {

							content: "";
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 0.125em;
							background: $primary-gradient;
							transition: all 0.2s;
						}
					}

					> a {
						position: relative;
						display: block;
					}


					&:hover,
					&.active {

						> a::before {
							transform: scaleX(1);
						}
					}
				}
			}
		}

	}
}
