/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "sass:math";
@use "../../common/variables" as *;
@use "../../common/mixins" as *;

.Header__navigation {

	&--mobile {

		ul.nav {

			li {

				&.single-menu {

					.sub-menu {

						&:not(.sub-menu .sub-menu) {

							>	li {
								display: flex;

								&:first-child {
									margin-top: 1em;
								}

								&[class^="icn-"] {

									.icon {

										@include square(1.25em);
									}
								}
							}
						}
					}
				}

				&.multi-menu {

					.sub-menu {

						&:not(.sub-menu .sub-menu) {

							> li {
								padding: 0;

								> a {
									display: none;

									.menu-item-description {
										display: none;
									}
								}

							}
						}

					}
				}

				&.active {

					> .sub-menu {

						&.active:not(.sub-menu .sub-menu) {
							height: 93.75em;
							transition: height 0.5s ease-in-out;
						}
					}
				}

				.sub-menu {

					&:not(.sub-menu .sub-menu) {

						display: block;
						height: 0;
						overflow: hidden;
						transition: height 0.5s ease-in-out;

						> li {

							.sub-menu {

								li {
									font-size: 0.875rem;

									>	a {
										font-weight: 400;
										font-size: 0.875rem;
									}
								}
							}
						}
					}
				}

			}

		}
	}

	ul.nav {

		> li {
			position: relative;

			> a {
				display: block;
				width: 100%;
			}

			.submenu {
				display: none;
				position: absolute;
				z-index: 2000;
				top: 100%;
				width: min-content;
				padding: 1.5em;
				border-radius: 0.5rem;
				background-color: $white;
				box-shadow:
					0 4px 6px -1px rgba(0, 0, 0, 0.1),
					0 2px 4px -2px rgba(0, 0, 0, 0.05);

				li {
					grid-column: 1;
				}

				li.submenu__right {
					grid-row: 1/100;
					grid-column: 2;
				}

				&.col-2 {
					grid-template-columns: repeat(2, 280px);
				}
			}

			&:hover {

				.submenu {
					display: flex;
					flex-direction: column;

					&[class*="col-"] {
						display: grid;
					}
				}
			}
		}
	}
}

body.hoverSubMenu header ~ * {
	opacity: 0.5;
}
