/* stylelint-disable selector-class-pattern */

@use "../common/mixins" as *;
@use "../common/variables" as *;

.BannerLanding {
	padding: 0;
	border: 1px solid $gray-200;

	&__content {
		padding-left: 3.75em;
		gap: 0;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;

		.elementor-heading-title {
			margin-bottom: 0.625em;
			font-size: 1.375em;
			font-weight: $font-weight-bold;
			line-height: 1.45;
		}

		.elementor-widget-text-editor {

			p {
				margin-bottom: 1.25em;
				line-height: 1.75;
			}
		}
	}

	&__image {
		height: 100%;

		&::before {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}

	@media (max-width: $breakpoint-tablet) {
		padding-left: 1.125em;
		padding-right: 1.125em;
		border: none;

		&__content {
			padding-left: 0;
			align-items: flex-start;
		}

		&__image {
			min-height: auto;

			> div {
				position: static;
			}
		}
	}
}
