/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.DarkBlocks--numbered {
	counter-reset: tagCounter;

	.BlockDark--tag p {
		counter-increment: tagCounter 1;
		color: $white !important;

		&::before {

			@include square(2em);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			color: $white;
			background: $primary-gradient;
			content: counter(tagCounter, decimal-leading-zero);
		}
	}
}

.BlockDark {
	display: flex;
	position: relative;
	border-radius: $border-radius-10;
	box-shadow: inset 0 0 0 1px $borders-color;
	padding: 1.5em;
	overflow: hidden;
	background: $black-level2;

	&.gradient-left {
		background: linear-gradient(to right, $black-level3 21%, $black-level2 90%);
		box-shadow: none;
	}

	&.gradient-right {
		background: linear-gradient(to right, $black-level2 21%, $black-level3 90%);
		box-shadow: none;
	}

	&--tag {
		background: linear-gradient(to right, rgba($dark-text, 10%), rgba($borders-color, 10%));
		border: 1px solid $borders-color;
		width: max-content;
		padding: 0.15em 1em 0.15em 0.25em;
		border-radius: 1em;
		margin-bottom: 1em !important;

		p {
			display: flex !important;
			align-items: center;
			gap: 0.5em;
		}
	}


	h3[class] {
		font-size: 1.375rem !important;
		margin-bottom: 1rem !important;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.elementor-widget-text-editor[class] {

		p {
			font-size: 1rem;
			line-height: 1.777;
			color: $dark-text;
			margin-bottom: 0;
		}

		ul {
			margin-top: 1em;
			max-width: none;

			li {
				margin-bottom: 0;
				color: currentcolor !important;

				&::before {
					display: inline-block;
					content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi4xNjE2IDMuNTg4MzNDMTIuNDM1IDMuODYxNjkgMTIuNDM1IDQuMzA0OTEgMTIuMTYxNiA0LjU3ODI4TDYuMzI4MzIgMTAuNDExNkM2LjA1NDk1IDEwLjY4NSA1LjYxMTczIDEwLjY4NSA1LjMzODM3IDEwLjQxMTZMMi40MjE3IDcuNDk0OTRDMi4xNDgzMyA3LjIyMTU4IDIuMTQ4MzMgNi43NzgzNiAyLjQyMTcgNi41MDQ5OUMyLjY5NTA3IDYuMjMxNjMgMy4xMzgyOCA2LjIzMTYzIDMuNDExNjUgNi41MDQ5OUw1LjgzMzM0IDguOTI2NjhMMTEuMTcxNyAzLjU4ODMzQzExLjQ0NTEgMy4zMTQ5NiAxMS44ODgzIDMuMzE0OTYgMTIuMTYxNiAzLjU4ODMzWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
				}
			}
		}
	}

	&__white {
		background: $white;
		box-shadow: inset 0 0 0 1px $gray-200;

		.elementor-widget-text-editor[class] {

			p,
			ul li {
				color: $black !important;
			}

			ul li {

				&::before {
					content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi4xNjE2IDMuNTg4MzNDMTIuNDM1IDMuODYxNjkgMTIuNDM1IDQuMzA0OTEgMTIuMTYxNiA0LjU3ODI4TDYuMzI4MzIgMTAuNDExNkM2LjA1NDk1IDEwLjY4NSA1LjYxMTczIDEwLjY4NSA1LjMzODM3IDEwLjQxMTZMMi40MjE3IDcuNDk0OTRDMi4xNDgzMyA3LjIyMTU4IDIuMTQ4MzMgNi43NzgzNiAyLjQyMTcgNi41MDQ5OUMyLjY5NTA3IDYuMjMxNjMgMy4xMzgyOCA2LjIzMTYzIDMuNDExNjUgNi41MDQ5OUw1LjgzMzM0IDguOTI2NjhMMTEuMTcxNyAzLjU4ODMzQzExLjQ0NTEgMy4zMTQ5NiAxMS44ODgzIDMuMzE0OTYgMTIuMTYxNiAzLjU4ODMzWiIgLz4KPC9zdmc+Cg==);
				}
			}
		}

		&:hover {
			background: linear-gradient(97deg, rgba(4, 151, 220, 0.03) 0%, rgba(70, 92, 224, 0.03) 100%);
		}
	}

	&::before,
	&::after {
		display: block;
		position: absolute;
		content: "";
	}

	&:has(a),
	&[data-target] {
		cursor: pointer;

		&::after {
			left: 0;
			top: 5px;
			width: 1px;
			height: 75%;
			background: linear-gradient(to bottom, transparent, #0497dc 7%, #465ce0 50%, #0497dc 60%, #0497dc 75%, transparent);
			opacity: 0;
			transform: translateY(130%);
			transition: all 0.3s;
		}
	}

	&--hover30 {

		&:has(a)::after,
		&[data-target]::after {
			height: 30%;
		}
	}

	&.active {
		box-shadow: inset 0 0 0 2px $accent-electric-blue;

		&::after {
			display: none;
		}
	}

	*:not(a[href]) {
		pointer-events: none;
	}

	&__mainLink[class],
	a:first-of-type:last-of-type {

		&::before {

			@include posZero;
			display: block;
			position: absolute;
			z-index: 0;
			content: "";
		}
	}

	a {
		position: relative;
		pointer-events: all;
		z-index: 1;
	}

	.elementor-widget-html:has(a:first-of-type:last-of-type) {

		@include posZero;
		position: absolute;
		pointer-events: all;
		z-index: 1;

		a {
			position: static;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		&--column {
			flex-direction: column;
		}

		&--social {
			margin-left: auto;
		}
	}

	@media (hover: hover) {

		&:hover {

			&::after {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}
