/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Content[class] {

	h2,
	h3 {

		&:has(+div[style*="background-color"]),
		&:has(+ .CodeBlock),
		&:has(+ pre code) {
			position: relative;
			left: 0;
			z-index: 1;

			font-family: $font-primary;
			font-size: 1rem !important;
			font-weight: $font-weight-bold;
			padding: 4.125em 1.875rem 1.25rem;
			color: $gray-900;
		}

		&:has(+ pre code) {
			padding: 0 1.875rem 1.75rem;
		}

		+ div[style*="background-color"],
		+ .CodeBlock,
		+ pre {
			margin-top: -5em;
		}
	}

	pre.wp-block-code {
		white-space: pre-wrap;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}

	div[style*="background-color"],
	.CodeBlock,
	code {
		display: block;
		position: relative;
		background-color: $sky-blue !important;
		border-radius: $border-radius !important;
		font-size: 1rem !important;
		font-family: $font-primary;
		padding: 4.125em 1.875rem 1.25rem !important;
		color: $gray-900 !important;

		&::before {
			position: absolute;
			content: "";
			left: 0;
			top: 3.5em;
			width: 100%;
			display: block;
			border-bottom: 1px solid $light-indigo;

		}

		*:not(.Button, svg) {
			font-size: inherit;
			font-family: inherit;
			color: currentcolor;
		}

		> div,
		p {
			margin: 0 !important;
			padding: 0 !important;
			color: $gray-900 !important;
			background-color: $white !important;
		}

		.Button {
			font-size: 0.875rem;
			padding: 0.25em 0.75em;
			top: 0.75rem;
			right: 1.875rem;
			z-index: 2;
			border-radius: 6px;
			border: 1px solid $primary;
			background-color: $white;

			&::before {
				background-color: transparent;
			}

			span {
				color: $primary;
				-webkit-text-fill-color: $primary;
				font-size: 0.875em;
				font-weight: $font-weight-bold;
				line-height: 1.71;
			}

			svg {
				margin-left: 0.25em;
				fill: $primary;
				z-index: 9;
			}

			&:hover {

				span {
					color: $white;
					-webkit-text-fill-color: $white;
				}

				svg {
					fill: $white;
				}
			}
		}
	}

	div[style*="background-color"] {
		padding: 3.6em 0 0 !important;
		background-color: $white;

		> div {
			padding: 1.875rem 1.25rem !important;
		}
	}
}
