/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../common/animations" as *;


.Medovnicky { // Naming as Slovak “gingerbread“ due to adblocks

	position: fixed;
	left: 25px;
	z-index: 9999999;
	bottom: -225px;
	flex-flow: wrap row;
	justify-content: flex-start;
	align-items: center;
	width: 400px;
	max-width: 100%;
	height: auto;
	overflow: hidden;
	background-color: $black;
	border-radius: $border-radius-10;
	color: $white;
	transition: bottom 0.5s;

	@include shakeX(2em);

	&.shakeX {
		animation: shakeX 0.75s;
	}

	.wrapper {
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		align-items: center;
		padding: 1.5em;
		margin-bottom: 0;
	}

	p {

		color: inherit;
		font-size: 1rem;
		line-height: 1.5;
		margin-bottom: 0;

		a {
			color: inherit;
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: none;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;

			&:active,
			&:focus,
			&:hover {

				color: $primary;
				text-decoration: none;
			}
		}
	}

	&__buttons[class] {
		display: flex;
		justify-content: space-between;
		gap: 0.625em;
		margin-top: 1.875em;
		width: 100%;

		.Button--full[class] {

			color: $black !important;
			background-color: $white;
			transition: all 0.4s;

			&::before,
			&::after {
				opacity: 0;
			}

			&:hover {

				color: $white !important;
				background: transparent;

				&::before,
				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__button {
		padding: 0.5rem 1.875rem;
		width: 50%;

		span {
			font-size: 1rem !important;
			font-weight: $font-weight-bold;
			line-height: 1.75;
		}

		+ .Button {
			margin-top: 0;
			margin-left: 0;
		}
	}

	&.show {
		bottom: 25px;
	}

	&.hide {
		bottom: -235px;
	}

	@media (max-width: $breakpoint-tablet) {
		left: 0;
		width: 100%;
		z-index: 10000000;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		p {
			font-size: $font-size-smaller;
			line-height: $line-height-smaller;
		}

		.wrapper {
			padding: 1.875em;
		}

		&__buttons[class] {
			justify-content: center;
		}

		&.show {
			bottom: 0;
		}

		&.hide {
			bottom: -225px;
		}
	}
}
