/* stylelint-disable selector-class-pattern */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Checklist";

.Faq {
	max-width: $wrapper;
	margin-left: auto;
	margin-right: auto;

	h2 {
		line-height: 1.5;
		text-align: center;
		margin: 0 auto 0.75em auto;
		max-width: 600px;
	}

	.subhead--wrapper {
		margin: 0 auto 4em;
		max-width: 60ch;

		p {
			text-align: center;
		}
	}

	&__items {

		@media (min-width: $breakpoint-tablet) {
			columns: 2 auto;
		}
	}

	ul:not(.Faq__items) {

		@extend %checklist;
	}

	.Faq__item {
		padding: 0 0.5em;
		overflow: hidden;
		-webkit-column-break-inside: avoid;

		h3 {
			margin: 0 0 1em 0;
			position: relative;
			font-size: 1.125rem !important;
			font-weight: 600;
			padding: 20px 30px;
			border-radius: $border-radius;
			background-color: $gray-100;

		}

		.Faq__outer-wrapper {
			position: relative;
			margin-bottom: 2em;

			p {

				@include square(100%);
				margin: 0;
				font-size: $font-size-default;
				padding: 0 1.5em;
				text-align: left;
				color: $level-2;

				&:empty {
					display: none;
				}
			}
		}
	}
}
