/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Checklist";


div.wrapper[class],
div.e-con-inner[class],
div[class*="elementor-"] {

	&:has(.Faq, .Urlslab-Faq) {
		margin: 0 !important;
		padding: 0 !important;
		max-width: none !important;
	}
}

body.page-template[class] {

	.Faq[class],
	.Urlslab-Faq[class] {
		background-color: $black-level3 !important;
	}

	.Faq,
	.Urlslab-Faq {

		* {
			color: $white !important;
		}
	}
}

.Faq,
.Urlslab-Faq {
	padding: 2.5em 1em;

	h2,
	h3,
	li,
	.Urlslab-Faq__outer-wrapper {
		padding-left: 0 !important;

		p {
			padding: 0 !important;
		}

		&::before {
			display: none;
		}
	}

	&__items {
		margin-bottom: 0 !important;
	}

	.Post__content & {

		padding: 2.5em 0;

		h2 {
			text-align: left;
			margin-bottom: 1em !important;
		}

		&__items {
			background-color: $gray-50;
			border-radius: $border-radius;
			padding: 0 1.875em;
		}

		&__item {
			padding: 1.5em 0 !important;
			border-color: $gray-200;

			&:last-of-type {
				border: none;
			}

			h3 {
				font-size: 1.125rem !important;
			}
		}
	}

	h2 {
		text-align: center;
		margin-bottom: 1.5em !important;
	}

	&__item {
		padding: 2.5em 0 !important;
		border-bottom: 1px solid $borders-color;

		h3 {
			font-size: 1.375rem !important;
		}
	}

	h3,
	&__outer-wrapper {
		margin-bottom: 0 !important;
	}

	@media (min-width: $breakpoint-tablet) {
		padding: 8em 1em;

		h2,
		&__items {
			max-width: $wrapper-md;
			margin-left: auto;
			margin-right: auto;
		}

		&__item {
			display: flex;

			h3 {
				flex: 0 0 41.5%;
				padding-right: 3em;
			}
		}
	}
}

body.single.single-solutions {

	.Faq,
	.Urlslab-Faq {

		h2 {
			font-size: $font-size-h1-l !important;
			line-height: $line-height-h1 !important;
		}
	}
}

.bg-black-level3 {

	.Faq,
	.Urlslab-Faq {

		* {
			color: $white;
		}
	}
}
