// stylelint-disable no-descending-specificity
@use "../common/variables" as *;
@use "../common/mixins" as *;

// LANDING HERO SECTION
.hero-section-landing-page {

	.e-con-inner {
		align-items: center;

		@media (min-width: $breakpoint-tablet-landscape) {
			flex-direction: row;

			.e-child {
				display: block;
				width: 50%;

				&:has(.elementor-widget-image) {
					position: relative;
					flex: 0 0 60%;
					margin-right: -10%;
					height: 40em;
					left: -10%;
					z-index: -1;

					@media (min-width: $breakpoint-desktop-hd) {
						height: clamp(30em, 58.75em, 100vh);
					}

					div {
						height: 100%;

						> img,
						picture {
							height: 100%;
							max-width: none;
							object-fit: contain;
							object-position: left bottom;
						}
					}

				}

				&:first-of-type {


					&:has(.elementor-widget-image) {
						margin-left: -10%;
						margin-right: 0;
					}
				}
			}
		}
	}

	&__content {
		padding: 0;

		h1.elementor-heading-title {

			@media (min-width: $breakpoint-tablet-landscape) {
				font-size: 3.75em;
			}
		}

		h3 {
			font-size: 18px;
			color: $level-2;
			padding: 0;
			font-weight: $font-weight-normal;


			@media (min-width: $breakpoint-tablet-landscape) {
				font-size: 24px;
			}
		}

		.elementor-widget-html {

			&:has(.Button) {

				.elementor-widget-container {
					display: flex;
					flex-wrap: wrap;
					gap: 1em;
				}

				.Button + .Button {
					margin-left: 0;
				}
			}
		}

	}
}
