/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

@mixin elementor-col-50($first-basis: 40%, $last-basis: 72%, $min-height: 34em) {
	width: auto !important;
	flex-shrink: 0;

	&:first-of-type {
		flex-basis: $first-basis;
	}

	&:last-of-type {
		flex-basis: $last-basis;
		min-height: $min-height;

		picture,
		img {
			max-width: none;
			width: 100%;
		}
	}
}

@mixin play-button {

	@include square(13.125em !important);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;

	@media (min-width: $breakpoint-tablet) {
		left: 15%;
		transform: translateY(-50%);
	}
}

.hero__banner,
.heroHeadline,
.heroHeadline__home,
.heroHeadline__solution,
.heroHeadline__product-page {

	.playBtn[class] {

		@include play-button;
	}

	.e-con-inner {
		align-items: center;
	}

	@media (min-width: $breakpoint-tablet) {

		.hero-section-landing-page {

			&__content {

				h1.elementor-heading-title {

					@media (min-width: $breakpoint-tablet-landscape) {
						font-size: 3.75em !important;
					}
				}

				h3 {
					font-size: 1.125rem;
					color: $level-2;
					padding: 0;
					font-weight: $font-weight-normal;

					@media (min-width: $breakpoint-tablet-landscape) {
						font-size: 1.5rem !important;
						line-height: 1.5 !important;
					}
				}
			}
		}

		.e-con.e-child:first-of-type {
			padding-left: 1.5em;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.e-con-inner {
			margin-top: 6em;
			flex-direction: row;

			.e-child {
				display: block;

				&:has(.elementor-widget-image) {
					position: relative;
					right: -5%;

					div {
						height: 100%;

						> picture {
							width: 100vw;
						}

						> img,
						img,
						> picture {
							height: 100%;
							max-width: 100%;
							object-fit: contain;
							object-position: left bottom;
						}
					}
				}

				&:first-of-type {

					&:has(.elementor-widget-image) {
						margin-left: -10%;
						margin-right: 0;
					}
				}
			}
		}

		.e-con.e-child {

			@include elementor-col-50;

			&:first-of-type {
				padding-left: 0;
			}

		}
	}

}

.heroHeadline__solution {

	.e-con-inner {
		padding: 0;

		@media (min-width: $breakpoint-tablet-landscape) {
			margin-top: 0;
		}
	}
}

.heroHeadline__product-page {

	.e-con-inner {
		margin-top: 0;
		padding: 0;

		@media (min-width: $breakpoint-tablet-landscape) and (max-width: $breakpoint-desktop-hd - 1px) {

			.e-child {

				&:first-of-type {

					&:has(.elementor-widget-text-editor) {
						padding-right: 0;

						h3 {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		@media (min-width: $breakpoint-desktop-hd) {

			.e-child {

				&:first-of-type {

					&:has(.elementor-widget-text-editor) {
						padding-right: 4.25em;
					}
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) and (max-width: $breakpoint-desktop-hd - 1px) {

			.e-con.e-child {
				padding: 0;

				@include elementor-col-50(50%, 50%, auto);

				&:first-of-type {
					padding-left: 0;
				}

				&:last-of-type {
					padding: 7.1875em 1em;
				}
			}
		}
	}

	@media (min-width: $breakpoint-desktop-hd) {

		.e-con.e-child {

			@include elementor-col-50(40.2%, 76.3%, 52.5em);

			&:last-of-type {
				padding: 7.1875em 4.125em;
			}
		}
	}
}

.elementor > section.Block__image:first-of-type {

	@media (max-width: ($breakpoint-tablet - 1px)) {

		.e-con.e-child[class] {

			&:last-of-type {
				display: none !important;
			}
		}
	}

	@media (min-width: $breakpoint-tablet) {

		.e-con.e-child:first-of-type {
			padding-left: 1.5em;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.e-con.e-child {

			@include elementor-col-50;

			&:first-of-type {
				padding-left: 0;
			}
		}
	}
}

.heroHeadline__services.e-flex {
	padding: 11.1875em 2.125em 13.5625em 0;
	position: relative;

	@media (max-width: $breakpoint-desktop-md - 1px) {
		padding: 5em 0.625em;
	}

	> .e-con-inner {
		padding: 0;
		align-items: flex-start;
		justify-content: space-between;

		@media (max-width: $breakpoint-desktop-md - 1px) {
			flex-direction: column;
		}
	}

	.video-block {
		position: absolute;
		top: -2.625em;
		right: -2.125em;
		display: grid;
		gap: 0.5em;
		grid-template-columns: repeat(2, minmax(9.5em, 1fr));
		grid-template-rows: 1fr 1fr;
		z-index: 300;
		max-width: 19.5625em;

		@media (max-width: $breakpoint-desktop-md - 1px) {
			top: 2em;
			right: 2em;
		}

		@media (max-width: $breakpoint-tablet) {
			top: 0;
			right: 0;
			position: relative;
			max-width: initial;
		}

		&--item {
			width: 9.5em;
			height: 6.8125em;
			border-radius: $border-radius-6;
			border: 2px solid $white;

			@media (max-width: $breakpoint-tablet) {
				width: 100%;
				height: auto;
				min-height: 11.25em;
			}

			.elementor-widget-text-editor {
				color: $white;
				font-size: 0.46875rem;
				font-weight: $font-weight-bold;
				line-height: 1.23;

				@media (max-width: $breakpoint-tablet) {
					font-size: 0.875rem;
				}

				p {
					margin: 0;
					color: inherit;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
				}
			}

			.elementor-heading-title {
				margin-bottom: 0.335em;
				color: $white;
				font-size: 0.8rem;
				font-weight: $font-weight-bold;
				line-height: 1.25;

				@media (max-width: $breakpoint-tablet) {
					font-size: 1.25rem;
				}
			}

			.elementor-widget-image {
				text-align: left;

				img {

					@include square(2em);

					@media (max-width: $breakpoint-tablet) {

						@include square(3em);
					}
				}
			}
		}
	}

	.label-block {
		position: absolute;
		bottom: 1.25em;
		left: 1.25em;
		width: auto;
		display: inline-block;
		flex-direction: column;
		z-index: 300;

		> div {
			margin-bottom: 0.6875em;

			p {
				margin-bottom: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
