// stylelint-disable no-descending-specificity
@use "../common/variables" as *;
@use "../common/mixins" as *;

// LANDING HERO SECTION
.hero-section-landing-page {

	&__ai-training {

		&__content {
			padding-right: 9.5em;
		}
	}

	.e-con-inner {
		align-items: center;

		@media (min-width: $breakpoint-tablet-landscape) {
			flex-direction: row;

			.e-child {
				display: block;
				width: 50%;

				&:has(.elementor-widget-image) {
					position: relative;
					flex: 0 0 60%;
					margin-right: -10%;
					height: 40em;
					left: -10%;
					z-index: -1;

					div {
						height: 100%;

						>picture {
							width: 100vw;
						}

						> img,
						img,
						> picture {
							height: 100%;
							max-width: none;
							object-fit: contain;
							object-position: left bottom;
						}
					}

				}

				&:first-of-type {


					&:has(.elementor-widget-image) {
						margin-left: -10%;
						margin-right: 0;
					}
				}
			}
		}

		.e-child:has(.elementor-widget-image) {

			@media (min-width: $breakpoint-desktop-big) {
				height: clamp(30em, 58.75em, 100vh);
			}
		}
	}

	&__content {
		padding-block: 2em;

		@media (min-width: $breakpoint-tablet) {
			padding-block: 0;
		}

		h1.elementor-heading-title {

			@media (min-width: $breakpoint-tablet-landscape) {
				font-size: 3.75em;
			}
		}

		h3 {
			font-size: 18px;
			color: $level-2;
			padding: 0;
			font-weight: $font-weight-normal;


			@media (min-width: $breakpoint-tablet-landscape) {
				font-size: 24px;
			}
		}

		.elementor-widget-html {

			&:has(.Button) {


				.elementor-widget-container {
					display: flex;
					flex-wrap: wrap;
					gap: 1em;

					@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
						margin-top: -1em !important;


						.Button {
							font-size: 0.85rem !important;
							padding: 0.5em 1em;
							height: auto;
							margin-top: 0 !important;
						}
					}
				}


				.Button + .Button {
					margin-left: 0;
				}
			}
		}

	}

	&__image {
		flex: auto !important;
		margin-right: 0 !important;
		height: clamp(30em, 40em, 100vh) !important;
		left: 0 !important;

		@media (max-width: ($breakpoint-tablet - 1px)) {
			height: clamp(20em, 30em, 100vh) !important;
		}
	}

	&__label {
		width: max-content !important;
		margin: 0 !important;
		display: flex !important;
		flex-direction: row !important;
		height: auto !important;
		padding: 6px 12px;
		border-radius: $border-radius;
		border: 1px solid $gray-200;
		background: $white;
		align-items: center;
		justify-content: center;
		z-index: 1 !important;

		&--green {
			padding: 2px 8px;
			width: max-content !important;
			display: flex !important;
			flex-direction: row !important;
			background: $green-500;
			height: auto !important;
			border-radius: $border-radius;
			z-index: 1 !important;

			p {
				margin-bottom: 0;
			}
		}

		p {
			margin-bottom: 0;
		}
	}
}
