/* stylelint-disable selector-class-pattern */

@use "../common/mixins" as *;
@use "../common/variables" as *;

/*LABELS*/

.labels {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.375em;

	&__item {
		padding: 0.25em 0.5em;
		border-radius: $border-radius-6;
		font-family: $font-primary;
		font-size: $font-size-small;
		font-weight: $font-weight-normal;
		line-height: 1.5;
		display: flex;
		align-items: center;
		gap: 5px;

		&--blue-border {
			background: $white;
			border: 1px solid $accent-electric-blue;
		}

		&--bg-green {
			padding: 0.125rem 0.5rem;
			color: $white;
			background: $green-500;
			font-weight: $font-weight-bold;
			line-height: 1.57;
		}

		&--bg-orange {
			padding: 0.125rem 0.5rem;
			color: $white;
			background: $yellow-400;
			font-weight: $font-weight-bold;
			line-height: 1.57;
		}

		i {
			width: 1.25rem;
			height: 1.25rem;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;

			&.globe {
				background-image: url(../../images/icon-globe-gradient.svg);
			}

			&.video {
				background-image: url(../../images/icone-play-gradient.svg);
			}
		}
	}
}

.label {

	&--white {
		margin: 0;
		padding: 0.75em;
		width: auto;
		border-radius: $border-radius;
		background: $white;
		color: $gray-900;
		font-size: $font-size-bigger;
		line-height: 1.33;

		&:has(img) {

			img {
				margin-right: 0.625em;
			}
		}

		&:has(.elementor-widget-text-editor) {

			.elementor-widget-text-editor {

				* {
					margin-bottom: 0;
				}
			}
		}

		&--gray-border {
			border: 1px solid $gray-200;
		}
	}

	&--grey-shadow {
		margin: 0;
		padding: 0.375em 0.625em;
		width: auto;
		border-radius: $border-radius;
		border: 1px solid $gray-200;
		background: $white;
		box-shadow: 0 1px 2px 0 rgba($black-real, 0.1);
		color: $gray-900;
		font-size: $font-size-smaller;
		font-weight: $font-weight-bold;
		line-height: 1.71;

		&:has(.elementor-widget-text-editor) {
			
			&.elementor-widget-text-editor {

				* {
					margin-bottom: 0;
				}
			}
		}

		&:has(img) {

			img {
				margin-right: 0.25em;
			}
		}
	}
}
