/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Button--login {
	position: relative;
	background-color: transparent;
	font-weight: $font-weight-normal !important;
	text-decoration: none !important;
	display: flex;
	align-items: center;
	padding: 0.75em 1em !important;


	span {
		font-weight: $font-weight-bold;
	}


	@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
		display: block;
		width: 100%;
		text-align: center;
		margin-left: 0 !important;

		span {
			display: inline;
			font-size: 1rem;
			color: #000;
		}
	}
}
