/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/no-global-function-names */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Button" as *;

.Pricing {

	&:has(+ div) {
		margin-bottom: 4em;
	}

	&__programs {
		color: $gray-900;
		gap: 2em;
		text-align: left;
		grid-template-rows: auto !important;

		@media (min-width: $breakpoint-tablet) {
			grid-template-columns: repeat(2, 1fr);
			margin-top: -4em;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			grid-template-columns: repeat(4, 1fr);
		}

		> .e-child {
			position: relative;
			align-items: flex-start;
			background-color: $white;
			border-radius: $border-radius;
			padding: 2em;
			gap: 1em;
			border: 1px solid $gray-200;
			box-shadow: 0 15px 10px -15px rgba(9, 0, 44, 0.12);

			.most-popular {

				background-color: $black;
				color: $white;
				position: absolute;
				width: 70%;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 0.45em 3em;
				border-radius: $border-radius-6;
				font-size: 0.875rem;
				text-transform: uppercase;
				text-align: center;

				* {
					color: currentcolor;
					margin: 0;
					font-weight: 700;
				}
			}

			@media (min-width: $breakpoint-tablet) {
				padding: 1em 2em;
				padding-top: 4em;
			}
		}

		&__price {

			.mark {
				font-size: 1.25rem;
				font-weight: $font-weight-bold;
				color: $black;
			}

			.number {
				font-size: 3rem;
				font-weight: $font-weight-bold;
				color: $black;
				line-height: 1;
				margin-left: 4px;

			}

			.month {
				font-size: 1.25rem;
				margin-left: 4px;
			}
		}

		.elementor-heading-title:not(p, span, div) {
			font-size: 2.25rem !important;
			margin-bottom: 0;
			font-weight: 600;
		}

		p.elementor-heading-title {
			font-size: 0.875rem;
			line-height: 1.5;
			min-height: 4.65em;
		}

		.elementor-widget-text-editor:has(ul) {
			margin-top: 1em;
			margin-bottom: auto;

			ul.checklist {
				display: flex;
				flex-direction: column;
				gap: 0.5em;

				li {
					font-size: 1rem;
					color: $gray-900 !important;
					margin: 0;

					&:has(del) {

						&::before {
							content: unset;
						}
					}
				}
			}
		}

		.elementor-widget-html:has(.Button) {
			width: 100%;

			.Button {
				width: 100%;
			}
		}

	}
}

