/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

[data-scroll] {
	overflow: clip;

	&.wrapper-md {
		max-width: none !important;
		padding: 0;
		height: var(--scroll-height);

		> div {
			max-width: $wrapper-md;
			margin: 0 auto;
			padding-left: $wrapper-padding;
			padding-right: $wrapper-padding;
			height: 100%;

			&.e-con-inner {
				position: relative;
				align-items: stretch;

				> .e-child {
					position: relative;
					display: block !important;
					flex-direction: column;
					height: auto;
					z-index: 1;

					> .e-child {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						height: 100%;
					}

					.elementor-heading-title[class] {
						font-size: 3.125rem !important;
						text-align: left;
					}

					&:first-child:has(.elementor-heading-title) {
						padding-right: 7.5em;
					}

					&:last-child:has(.elementor-heading-title) {
						padding-left: 7.5em;
					}


					&:not(:has(.elementor-heading-title)) > .elementor-widget-image {

						@include square(100%);
						position: absolute;
						opacity: 0;
						bottom: 0;

						&:first-child {
							opacity: 1;
						}

						&.active {
							opacity: 1;
							z-index: 2;
						}

						div {
							max-height: none;
							height: 100%;

						}

						img {
							object-fit: contain;
							object-position: center bottom;
							max-height: none;
							height: 100%;
						}
					}
				}
			}
		}
	}

	&[data-scroll="all"] {

		&.wrapper-md {
			height: auto;

			.e-con-inner {

				> .e-child {

					> .e-child {
						height: auto;

						.elementor-heading-title[class] {
							font-size: 1.375rem !important;
						}

						&:has(.elementor-heading-title) {
							// opacity: 0.5 !important;
						}
					}

				}
			}
		}
	}
}
