/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.SignupForm__sidebar {
	position: sticky;
	top: 15px + $headerHeight;
	padding: 1.5em;
	background: url(../../images/SignupForm-sidebar_bg.png) center center no-repeat;
	background-size: cover;
	border-radius: $border-radius-16;

	&--wrapper {
		display: none;
		width: 16.875em;
		z-index: 3;
		order: 2;

		@media (min-width: $breakpoint-tablet-landscape) {
			display: block;
		}
	}

	.Form__socialIcons {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 1.75em;
		margin: 0 auto 0.5em;

		&--icon {

			@include square(2.25em);
			margin-left: 0;
			margin-bottom: 1em;
		}
	}

	&--title,
	&--subtitle {
		text-align: center;
	}

	&--title {
		font-size: 1.375rem;
		font-weight: 700;
		margin-bottom: 0.5em;
	}

	&--subtitle {
		font-weight: 400;
		font-size: 0.8125rem;
		margin-bottom: 1rem;
	}

	p small {
		font-size: 0.625rem;
	}

	.inputField {
		font-size: 0.8125rem;
		color: $level-4;

		input {
			padding: 1.125em;
		}
	}

	.Button {
		width: 100%;
	}
}
