/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.WhatBlock {
	padding: 1.5em;
	margin: 1.5em auto;
	background-color: $gray-50;
	border-radius: $border-radius-16;

	h3 {
		font-size: 2rem;
		line-height: 1.33;
		font-weight: 700;
		margin: 0;
	}

	p {
		font-size: 1rem;
		margin-top: 1em;
	}
}
