/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.elementor-page {

	.block-improve-container {
		max-width: $wrapper-wide !important;
	}
}


.block-improve {
	max-width: $wrapper-wide;
	padding: 0;
	border-radius: $border-radius-16;
	background: url(../../images/block-improve-bg.jpg) left top no-repeat;
	background-size: cover;
	backdrop-filter: blur(6px);

	.Content & {
		max-width: 45em;
		margin: 2em auto;

		&__content {
			padding: 2.25em !important;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			margin: 0 -2.25em 2em;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;

		@media (min-width: $breakpoint-tablet-landscape) {
			flex-wrap: nowrap;
		}
	}

	&__content,
	&__img {
		width: 100%;

		@media (min-width: $breakpoint-tablet-landscape) {
			width: 50%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 1.5em;
		margin-bottom: 4em;

		@media (min-width: $breakpoint-tablet) {
			padding: 4.5em;
			margin-bottom: 0;

		}

		@media (min-width: $breakpoint-desktop) {
			padding: 4.5em 5em 4.5em 7.5em;
		}

		p {
			color: $white;
			margin-bottom: 2em;
		}

		h2 {
			font-size: $font-size-h2;
			line-height: 1.15;
			color: $white;

			@media (min-width: $breakpoint-desktop) {
				font-size: $font-size-h1;
			}
		}
	}

	&__img {
		margin-top: -3.8em;
		align-self: flex-end;

		img {
			margin: 0 auto;
			width: 100%;
		}
	}
}
