/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Discover {

	&__title {
		position: relative;
		border-radius: $border-radius-10;

		@media (min-width: $breakpoint-tablet-landscape) {
			border-radius: $border-radius-10 0 0 $border-radius-10;

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				transform: translateX(100%);
				content: "";
				background-color: $gray-50;
				width: 17.14%;
				height: 100%;
				border-radius: 0 $border-radius-10 $border-radius-10 0;
			}
		}
	}

	&__main {
		position: relative;
		border-radius: $border-radius-10;

		a {
			text-decoration: none;

			&::before {

				@include posZero;
				position: absolute;
				content: "";
			}
		}

		.elementor-post {

			&:hover a {
				background: linear-gradient(136deg, #0497dc 39.1%, #465ce0 109.91%);
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-decoration: none;
			}

			&__text {
				display: flex;
			}

			&__meta-data {
				display: flex;
				align-items: center;
				order: -1;

				&::before {
					font-size: 0.75rem;
					color: $gray-900;
					border: 1px solid $primary;
					border-radius: $border-radius-6;
					background: $white;
					padding: 0.25em 0.65em;
					margin-right: auto;
					content: "Blog";
				}
			}

			&-date {
				display: flex;
				align-items: center;
				color: $gray-500;

				&::before {

					@include square(1em);
					display: inline-block;
					content: "";
					background: url(../../images/icon-calendar-date.svg);
					opacity: 0.5;
					margin-right: 0.5em;
				}
			}

			&__thumbnail {
				position: relative;
				border-radius: $border-radius-10;
				height: 0;
				padding-bottom: 40.75%;
				overflow: hidden;

				img,
				picture {

					@include square(100%);
					position: absolute;
					object-fit: cover;
					max-width: 100%;
				}
			}

			h3.elementor-post__title {
				font-size: 1.125rem !important;
			}

			&__excerpt,
			&__read-more {
				font-size: 0.875rem;
				font-weight: 400;
				color: $gray-500;
				margin-top: 1em;
				margin-bottom: 0;
			}

			&__read-more {
				color: $black;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			border-radius: $border-radius-10 0 0 $border-radius-10;

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				transform: translateX(100%);
				content: "";
				background-color: $gray-50;
				width: 17.14%;
				height: 100%;
				border-radius: 0 $border-radius-10 $border-radius-10 0;
			}
		}
	}

	&__posts {
		position: relative;
		padding: 1.5em;

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 0 4.375em 4.375em;

			&::before {
				position: absolute;
				top: -77%;
				left: -47%;
				content: "";
				background: url(../../images/dots_bg_small.png);
				background-size: contain;
				width: 83.71%;
				height: 0;
				padding-bottom: 68.71%;
				z-index: -1;
			}
		}
	}
}

.Elementor__Blog {

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 2.5em;
		position: relative;

		a {
			text-decoration: none;

			&:hover,
			&:focus {

				text-decoration: none;
			}

			&::before {

				@include posZero;
				content: "";
				position: absolute;
			}
		}

		&:hover .Elementor__Blog__item--title {
			background: linear-gradient(136deg, #0497dc 39.1%, #465ce0 109.91%);
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&--meta {
			display: flex;
			align-items: center;
			font-size: 0.75rem;
			margin-bottom: 1.25em;
			color: $gray-900;

			&__categories {
				border: 1px solid $primary;
				border-radius: $border-radius-6;
				padding: 0.25em 0.5em;
				margin-right: auto;
			}

			svg {

				@include square(1em);
				position: relative;
				top: -1px;
				fill: currentcolor;
				margin-right: 0.5em;
			}
		}

		&--title {
			font-size: 1rem !important;
			margin: 0;
		}

		&--thumbnailWrap {
			flex-shrink: 0;

			@media (min-width: $breakpoint-tablet) {
				width: 36.36%;
			}
		}

		&--thumbnail {
			position: relative;
			height: 0;
			padding-bottom: 50%;
			border-radius: $border-radius-10;
			overflow: hidden;

			img,
			picture {

				@include square(100%);
				position: absolute;
				object-fit: cover;
				max-width: 100%;
			}
		}

		&--content {
			padding: 0 1.25em;

			@media (min-width: $breakpoint-tablet) {
				width: 63.64%;
			}
		}


	}
}
