/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Elementor__Blog {

	@include wrapper-styles($wrapper-md);

	&__items {

	}

	&__item {
		display: block;

		&--meta__categories {
			color: $level-2;
		}

		&--title {
			font-size: 1.375rem !important;
		}

		&--thumbnail {
			position: relative;
			height: 0;
			padding-bottom: 53.33%;
			border: 1px solid $border-divider-primary;
			border-radius: 12px;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
			overflow: hidden;
		}

		img,
		picture {

			@include square(100%);
			position: absolute;
			object-fit: cover;
			max-width: 100%;
		}
	}
}
