/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.ImageSwitcher {

	> .e-con-inner > .e-child:has(.elementor-heading-title) {
		padding: 0;
	}

	.e-child:has([data-targetid]) {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	[data-targetid] {

		opacity: 0;
		transition: opacity 0.005s;

		&.visible {
			opacity: 1;
			transition: opacity 0.3s;
		}
	}

	&__activator.BlockDark {

		> .elementor-widget-heading[class] > div[class],
		h3[class] {
			margin-bottom: 0 !important;
		}

		.FlowUsed {
			font-size: 0.875rem;
			color: $gray-500;
		}
	}
}
