/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Index {
	background-color: $gray-50;

	.wrapper {
		padding: 0.5em;
	}

	&__top {
		font-weight: 700;
		margin-bottom: 0;

		&--item {
			display: inline-block;
			padding: 0 0.5em;

			a {
				color: $black;
				text-decoration: none;

				&:hover {
					background: $primary-gradient;
					background-clip: text;
					-webkit-text-fill-color: transparent;
					color: transparent;
				}
			}
		}

		@media (min-width: $breakpoint-tablet) {
			margin-left: 0.5em;
		}
	}

	&__list {

		&--groupTitle[class] {

			@include square(2.7777em);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.125rem !important;
			font-weight: 600;
			color: $black;
			background-color: $gray-100;
			border-radius: $border-radius-10;
		}

		&--group {
			margin-top: 1.5em;

			+ .Index__list--group {
				margin-top: 3em;
			}

			ul {

				li {
					display: inline-block;
					padding: 0.35em 0;

					a {

						&:hover {
							background: $primary-gradient;
							background-clip: text;
							-webkit-text-fill-color: transparent;
							color: transparent;
						}
					}
				}
			}

			@media (min-width: $breakpoint-tablet) {
				display: flex;

				ul {
					flex-basis: 100%;
					padding-left: 1.5em;

					li {
						width: 33%;
					}
				}
			}

			@media (min-width: $breakpoint-ipad-pro) {

				ul {
					padding-left: 6em;
				}
			}
		}
	}
}
