/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

:root {
	--sidebar-width: 18.75em;
}

.Post__sidebar {
	display: none;
	width: var(--sidebar-width);
	padding-left: 2.5em;
	box-sizing: content-box;
	color: $level-2;

	* {
		color: inherit;
	}

	h4 {
		font-size: 1rem;
	}

	@media (max-height: 768px) {

		.SidebarTOC ~ * {
			display: none;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		display: block;
	}


	&__inn {
		position: sticky;
		top: calc($header-height + 2.5em);

		>* {
			padding: 0 1.125em;

			+* {
				margin-top: 1.5em;
				padding-top: 1.5em;
				border-top: 1px solid $border-divider-primary;
			}
		}
	}

	&--Signup {

		.Button {
			width: 100%;
		}
	}

	&--Share {

		h4 {
			font-weight: 400;
		}

		&__items {
			gap: 0.75em;
		}

		&__item {

			a {

				&::after {
					display: none !important;
				}
			}

			svg {

				@include square(1.25rem);
			}
		}
	}
}
