/* stylelint-disable selector-class-pattern,
no-descending-specificity, value-keyword-case */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.SidebarTOC {

	max-height: 16em;
	overflow-y: auto;
	overflow-x: visible;

	@include scrollbar($width: 4px, $color: $gray-400);

	&:hover {

		@include scrollbar($width: 4px, $color: $gray-900);
	}

	&__item {
		font-size: 0.875rem;
		line-height: 1.13;
		padding: 0.5em 0;

		&--h3 {
			padding-left: 0.7em;
		}


		a {
			position: relative;
			display: block;
			text-decoration: none;
			color: $gray-500;

			&:hover {
				text-decoration: none;
			}

			&::before {
				position: absolute;
				display: block;
				border-radius: 70px;
				height: 100%;
				width: 4px;
				content: "";
				left: -1.25em;
				background: $primary-gradient;
				opacity: 0;
				transition: opacity 0.25;
			}

			&.active {
				color: $level-1;

				&::before {
					opacity: 1;
				}
			}
		}
	}
}
