/* stylelint-disable selector-class-pattern,
no-descending-specificity, value-keyword-case */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Post__sidebar {
	display: none;
	top: 0;
	right: 0;
	width: 18.75em;
	padding: 0 2.5em;
	margin-right: -2.5em;
	box-sizing: content-box;

	@media (min-width: $breakpoint-tablet-landscape) {
		display: block;
	}

	@media (min-width: $breakpoint-desktop-md) {
		position: fixed;
		top: calc($header-height + 2.5em);
		margin-right: 0;
	}

	&__inn {
		position: sticky;
		top: calc($header-height + 2.5em);
		right: 0;

		> * {
			padding: 0 1.125em;

			+ * {
				margin-top: 1.5em;
				padding-top: 1.5em;
				border-top: 1px solid $border-divider-primary;
			}
		}
	}
}

.SidebarTOC {

	@include scrollbar($width: 4px, $color: $gray-400);
	max-height: 16em;
	overflow-y: auto;
	overflow-x: visible;

	&__item {
		font-size: 0.875rem;
		line-height: 1.13;
		padding: 0.5em 0;

		&--h3 {
			padding-left: 0.7em;
		}


		a {
			position: relative;
			display: block;
			text-decoration: none;
			color: $gray-500;

			&::before {
				position: absolute;
				display: block;
				border-radius: 70px;
				height: 100%;
				width: 4px;
				content: "";
				left: -1.25em;
				background: $primary-gradient;
				opacity: 0;
				transition: opacity 0.25;
			}

			&.active {
				color: $level-1;

				&::before {
					opacity: 1;
				}
			}
		}
	}
}
