$version: "2.0";
$transitionTime: 0.25s;

$headerHeight: 70px;

$sizes: (
	"0": 0,
	"xxs": 0.15em,
	"xs": 0.25em,
	"s": 0.5em,
	"m": 1em,
	"m-plus": 1.25rem,
	"l": 1.5em,
	"xl": 2em,
	"xxl": 2.5em,
	"xxxl": 3.25em,
	"extreme": 4.5em,
	"ultra": 6em,
	"ultra-plus": 6.25em,
	"ultra-xl": 9.375em,
	"2xultra": 10em
);

$fontSizes: (
	"xxs": 0.5rem,
	"xs": 0.625rem,
	"s": 0.75rem,
	"xm": 0.8125rem,
	"m": 0.875rem,
	"normal": 1rem,
	"l": 1.5rem,
	"xl": 2rem,
	"xxl": 2.5rem,
	"xxxl": 3.25rem,
);

$levels: (
	"0": 0,
	"10": 10,
	"20": 20,
	"30": 30,
	"40": 40,
	"50": 50,
	"60": 60,
	"70": 70,
	"80": 80,
	"90": 90,
	"100": 100,
);

$tablePadding: 0.6em 0.75em;

// Fonts
$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif; // stylelint-disable-line

// Font Sizes
$font-size-default: 1rem;
$line-height-default: 1.625;
$font-size-smaller: 0.875rem;
$line-height-smaller: 1.714;
$font-size-small: 0.75rem;
$font-size-bigger: 1.125rem;
$line-height-bigger: 1.44;


$font-size-h1: clamp(2.75rem, 6vw, 3.75rem);
$font-size-h1-xl: 3.75rem;
$font-size-h1-l: 3rem;
$font-size-h1-s: 2.75rem;
$line-height-h1: 1.2666;
$font-size-h2: clamp(2rem, 4vw, 3rem);
$line-height-h2: 1.15;
$font-size-h2-xs: 1.5rem;
$font-size-h2-s: 2rem;
$font-size-h2-l: 2.25rem;
$font-size-h2-xl: 2.75rem;
$font-size-h3: clamp(1.2rem, 2vw, 1.5rem);
$line-height-h3: 1.33;
$font-size-h4: 1.125rem;
$line-height-h4: 1.77;
$font-size-h5: 1rem;
$line-height-h5: 1.5;
$font-size-h6: 1rem;
$line-height-h6: 1.5;

// font sizes for single pages
$font-size-h1-single: clamp(1.875rem, 4vw, 3em);
$font-size-h2-single: clamp(2.25rem, 1vw, 2.75rem);
$font-size-h3-single: clamp(1.375rem, 1vw, 1.5rem);

$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;

$main-nav-font-size: 1rem;
$main-nav-line-height: 3.75;
$main-nav-submenu-font-size: 0.875;
$main-nav-submenu-line-height: 2.14;

// Sizes
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop-big: 1600px;
$breakpoint-desktop-box: 1380px;
$breakpoint-desktop-md: 1400px;
$breakpoint-ipad-pro: 1360px;
$breakpoint-desktop: 1180px;
$breakpoint-tablet-small: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-mobile: 480px;
$breakpoint-iphone-new: 415px;
$breakpoint-iphone-old: 376px;

$wrapper-width: 1140px;
$wrapper-wide: 1380px;
$wrapper-padding: 1.125em;

$wrapper-sm: $wrapper-width;
$wrapper: 1200px !important;
$wrapper-md: 1400px !important;
$wrapper-lg: 1600px !important;
$wrapper-xl: 1920px !important;
$wrapper-full: 100% !important;

$default-element-margin: 1rem;

$border-radius-small: 4px;
$border-radius-6: 6px;
$border-radius: 8px;
$border-radius-10: 10px;
$border-radius-14: 14px;
$border-radius-16: 16px;
$border-radius-30: 30px;

$button-font-size-normal: 1rem;
$button-height-normal: 3.43em;
$button-padding-normal: 2.1em;

$input-font-size-normal: 1rem;
$input-height-normal: 3.75rem;
$input-padding-normal: 1.25rem;
$input-border-width-normal: 1px;

$header-height: 70px;

$block-space: 12.5em;
$block-space-md: 5em;
$block-space-sm: 5em;
$block-bg-space: 5em;
$block-bg-space-sm: 2.5em;

// Colors
$black-real: #000;

$white: #fff;

// Grays
$gray-900: #111928;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;
$gray-200: #e5e7eb;
$gray-150: #f6f5ff;
$gray-100: #f3f4f6;
$gray-50: #f9fafb;
$dark-text: #a9a9ad;


// Texts
$level-1: $gray-900; // text level 1
$black: $level-1;
$black-level2: #1e1c21;
$black-level3: #0e0e11;
$level-2: $gray-500; // texts level 2 and icons
$level-3: $gray-400; // texts level 3
$level-4: $gray-400; // texts level 4

$icons-color: $gray-400; // icons and darker separators

// Fields
$fields-bg: $gray-300; // fields backgrounds
$fields-bg-hover: #f5f5f7; // fields backgrounds

// Borders
$borders-color: #302e32; // borders color
$border-divider-primary: #cfd6dd;

// Backgrounds
$dark-background: $gray-100; // darker backgrounds
$light-background: $gray-50; // light backgrounds
$lightest-background: $gray-50; // lightest background


$primary: #1c64f2;
$primary-dark: #1a56db;
$primary-light: #e1effe;

$accent-electric-blue: #0497dc;
$accent-electric-blue-dark: #465ce0;
$accent-dark: #1a56db;
$accent-indigo: #984ad7;

$primary-gradient: linear-gradient(90deg, $accent-electric-blue 0, $accent-electric-blue-dark 100%);
$primary-gradient-reverse:  linear-gradient(90deg, $accent-electric-blue-dark 0, $accent-electric-blue 100%);
$accent-gradient: linear-gradient(90deg, $accent-electric-blue 0%, $accent-electric-blue-dark 31.08%, $accent-indigo 60.94%);
$accent-gradient-reverse: linear-gradient(180deg, $accent-electric-blue 0%, $accent-electric-blue-dark 31.08%, $accent-indigo 60.94%);

// Other colors
$secondary: #ff3c29;
$secondary-dark: #ff1500;
$secondary-light: #ffefec;
$light-green: #3cc33e;
$light-blue: #1089f8;
$sky-blue: #ebf5ff;
$green: #07b65d;
$red: #ff492b;
$light-red: #fee3dc;
$yellow: #ff0;
$yellow-golden-accent: #fce96a;
$light-ivory: #fdfdea;
$tag: #ffb928;
$tablebg: #f8faff;
$green-500: #0e9f6e;
$yellow-400: #e3a008;
$purple-light: #dcd7fe;
$light-indigo: #c3ddfd;


$saturated-violet: #9154ce;
$desaturated-violet: #f3e6ff;
$saturated-blue: #2570ed;
$desaturated-blue: #dfeafd;
$saturated-green: #07b65d;
$desaturated-green: #daf4e7;
$saturated-red: #ff492b;
$desaturated-red: #ffe4df;
$saturated-cyan: #48c6ce;
$desaturated-cyan: #e4f7f8;
$saturated-orange: #fec200;
$desaturated-orange: #fff5df;


$saturated-blueish-menu: #2570ed;
$desaturated-blueish-menu: rgba(37, 112, 237, 16%);
$saturated-red-menu: #fe4938;
$desaturated-red-menu: rgba(254, 73, 56, 0.16);
$saturated-green-menu: #58d1d1;
$desaturated-green-menu: rgba(88, 209, 209, 0.16);
$saturated-magenta-menu: #db6bd7;
$desaturated-magenta-menu: rgba(219, 107, 215, 0.16);
$saturated-orange-menu: #ff9133;
$desaturated-orange-menu: rgba(255, 145, 51, 0.16);


$box-shadow-small: drop-shadow(0 1px 6px rgba($black-real, 0.16));
$box-shadow: drop-shadow(0 0 16px rgba($black-real, 0.08));
$box-shadow-big: drop-shadow(0.25em 0.5em 1.875em rgba($black-real, 0.1));
