// /* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "variables" as *;
@use "mixins" as *;

.elementor-widget-wrap.elementor-element-populated {
	padding: 0;
}

.e-con-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.e-con-full {

	&.e-flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}


.e-con {

	.elementor-widget.elementor-widget {
		margin-block-end: 0;
		max-width: 100%;
	}
}

.e-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	row-gap: 20px;

	@media (min-width: $breakpoint-tablet) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		column-gap: 20px;
	}


	.e-flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
