// /* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "variables" as *;
@use "mixins" as *;

.elementor-widget-wrap.elementor-element-populated {
	padding: 0;
}

.e-con-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.e-con-full {

	&.e-flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
