@use "../common/variables" as *;
@use "../common/mixins" as *;


.posts-moving-wrapper {
	overflow-x: hidden;
	padding: 3em 0;

	@media (min-width: $breakpoint-desktop-hd) {

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: -1em;
			bottom: -1em;
			width: 10%;
			pointer-events: none;
			z-index: 5;
		}

		&::before {
			left: 0;
			background: rgb(255, 255, 255);
			background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
		}

		&::after {
			right: 0;
			background: rgb(255, 255, 255);
			background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
		}
	}
}

.posts-moving-rows {
	display: grid;
	grid-template-columns: repeat(12, 440px);
	grid-template-rows: repeat(2, auto);
	column-gap: 40px;
	row-gap: 30px;
	position: relative;
	animation: scroll 20s linear infinite;
	transition: all 0.5s ease;
	z-index: 1;

	&:hover {
		animation-play-state: paused;

	}

	&__card {
		display: flex;
		gap: 1em;
		padding: 20px 16px;
		background: #fff;
		border: 1px solid $gray-200;
		border-radius: $border-radius-16;
		box-shadow: 16px 15px 13px rgba(0, 0, 0, 0.02), 7px 7px 10px rgba(0, 0, 0, 0.03), 2px 2px 5px rgba(0, 0, 0, 0.03) !important;
		text-align: center;
		position: relative;
		z-index: 2; /* Ensure that cards appear above the gradient overlays */
		text-decoration: none !important;

		&:hover {
			border-color: $primary;
			transition: all 0.3s ease;
		}
	}

	&__image {

		img {
			width: 42px;
			height: auto;
		}
	}


	&__title {
		font-size: 1rem;
		margin-bottom: 0.5em;
	}

	&__content {
		text-align: left;
		width: fit-content;
	}

	&__desc {
		color: $gray-500;
		font-size: 14px;
		margin-bottom: 0;
	}

	.first-row {
		grid-row: 1;
		transform: translateX(-50%);
	}

	.second-row {
		grid-row: 2;
	}
}

@keyframes scroll {

	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-50%);
	}
}

