@use "../common/variables" as *;
@use "../common/mixins" as *;


.posts-infinity-slider-section {
	z-index: 3;
	max-width: 100%;

	> .e-con-inner {
		flex-direction: column !important;
		align-items: center !important;
		justify-content: center !important;
	}
}

.posts-infinity-slider {
	overflow-x: hidden;
	max-width: $wrapper-xl;

	&[data-slider="first"] {
		padding: 3.5em 0 1em 0;
	}

	&[data-slider="second"] {
		padding: 1em 0 3.5em 0;
	}

	&[data-direction="right"] {
		--_animation-direction: reverse;
	}

	&[data-direction="left"] {
		--_animation-direction: forwards;
	}

	&[data-animated="true"] {
		overflow: hidden;

		@media (min-width: $breakpoint-desktop-hd) {
			mask-image: linear-gradient(90deg, transparent, $white 20%, $white 80%, transparent);
		}

		.posts-infinity-slider__items {
			width: max-content;
			flex-wrap: nowrap;
			animation: scroll 90s var(--_animation-direction, forwards) linear infinite;
			display: flex;
			gap: 3em;
		}
	}


	&__item {
		display: flex;
		gap: 1em;
		padding: 20px 16px;
		background: #fff;
		border: 1px solid $gray-200;
		border-radius: $border-radius-16;
		box-shadow: 16px 15px 13px rgba(0, 0, 0, 0.02), 7px 7px 10px rgba(0, 0, 0, 0.03), 2px 2px 5px rgba(0, 0, 0, 0.03) !important;
		text-align: center;
		position: relative;
		z-index: 2;
		text-decoration: none !important;
		width: 440px;

		&:hover {
			border-color: $primary;
			transition: all 0.3s ease;
		}

		&__image {

			img {
				width: 42px;
				height: auto;
			}
		}

		&__content {
			text-align: left;
			width: fit-content;

			h3 {
				font-size: 1rem !important;
				margin-bottom: 0.5em;
			}

			p {
				color: $gray-500;
				font-size: 14px;
				margin-bottom: 0;
			}
		}
	}

	@keyframes scroll {

		to {
			transform: translate(calc(-50% - 1.5rem));
		}
	}
}
