/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/no-global-function-names */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../elements/LabelTag";
@forward "../components/PricingPrograms";
@forward "../components/ComparePlansNew";
// @forward "../components/PricingTable";

.Pricing {
	position: relative;
	margin-bottom: 0;

	@media (min-width: $breakpoint-desktop) {
		padding-bottom: 0;
	}

	&__header {
		display: block;
		width: 100%;
		background: $white url(../../images/header-dots.png) repeat-x center top;
		background-size: 20px;
		border-bottom: 1px solid $gray-200;
		padding-top: 3em;
		padding-bottom: 3em;

		.elementor-widget-heading {

			.elementor-heading-title[class] {
				margin-bottom: 0.5rem;
				font-size: $font-size-h2 !important;
			}
		}

		> .e-con-inner {

			@include wrapper-styles($wrapper-md);
			display: block;
			padding-top: 0;
			margin: 0 auto !important;

			*:not(a) {
				display: block;
				text-align: center;
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		@media (min-width: $breakpoint-tablet) {
			padding-top: 6em;
			padding-bottom: 7.4375em;
		}
	}

	.wrapper-md,
	.wrapper-sm,
	.wrapper {
		margin-bottom: 4em;
	}

	&.wrapper,
	.wrapper-md {
		margin-bottom: 0;
	}

	.elementor-widget-heading {

		+.elementor-widget-text-editor p {
			font-size: 1.125rem;
			color: $gray-500;
		}

		@media (min-width: $breakpoint-tablet) {

			+.elementor-widget-text-editor p {
				max-width: 80ch;
				margin: 0 auto;
			}
		}
	}

	> .e-child {

		&:first-child {
			text-align: center;
		}

		@media (min-width: $breakpoint-desktop) {

			&:last-child {
				padding-bottom: 0;
			}
		}

		> .e-con-inner {
			gap: 2em;
		}
	}

}
