/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/no-global-function-names */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../components/PricingPrograms";
@forward "../components/ComparePlansNew";
// @forward "../components/PricingTable";

.Pricing {
	position: relative;
	padding: 4em 0;
	margin-bottom: 0;


	&__header {
		display: block;
		width: 100%;
		background: $white url(../../images/header-dots.png) repeat-x center top;
		background-size: 20px;
		border-bottom: 1px solid $gray-200;
		padding-top: 3em;
		padding-bottom: 3em;

		> .e-con-inner {

			@include wrapper-styles($wrapper-md);
			display: block;
			margin: 0 auto !important;

			* {
				display: block;
				text-align: center;
			}
		}

		@media (min-width: $breakpoint-tablet) {
			padding-top: 6em;
			padding-bottom: 4em;
		}
	}

	.wrapper-md {
		margin-bottom: 4em;
	}

	> .e-child {

		&:first-child {
			text-align: center;
		}

		> .e-con-inner {
			gap: 2em;
		}
	}

}
