/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/no-global-function-names */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../components/PricingPrograms";
@forward "../components/PricingTable";

.Pricing {
	position: relative;
	padding: 6em 0;
	margin-bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	border-radius: 0;

	@media (min-width: $breakpoint-tablet-landscape) {
		padding: 12em 0;
	}

	@media (min-width: $breakpoint-desktop-hd) {
		mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);

	}

	> .e-child {

		&:first-child {
			text-align: center;
		}

		> .e-con-inner {
			gap: 2em;
		}
	}

}
