/* stylelint-disable selector-class-pattern,
no-descending-specificity, value-keyword-case */

@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Blog {

	&__searchResults {

		.Blog__container {

			margin-top: -3em;

			@media (min-width: $breakpoint-desktop-box) {

				margin-top: -5em;
			}
		}
	}

	&__item {

		position: relative;

		&:hover {
			transition: border-color 0.3s;

			.Blog__item__title {
				background: $primary-gradient;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				color: transparent;
			}

			&::before {
				opacity: 1;
				transition: opacity 0.3s;
			}

		}

		a {
			text-decoration: none !important;
		}

		&__tag-top.post__tag-star {

			position: absolute;
			top: 1em;
			left: 1em;
		}

		&__thumbnail {
			display: block;
			height: 13.75em;

			img,
			picture {

				@include square(100%);
				border-radius: $border-radius-10;
				object-fit: cover;

				&[src*=".svg"] {
					object-position: 25% center;
				}
			}
		}

		&__meta {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			font-size: 0.825rem;
			margin-bottom: 1em;

			&__categories {
				margin-right: auto;

				span span,
				.Blog__item__meta__category {

					color: $black;
					display: inline-block;
					font-size: 0.75rem;
					border-radius: $border-radius-6;
					border: 1px solid $accent-electric-blue;
					background-color: $white;
					padding: 0.125em 0.6em;
					margin-bottom: 0.5em;

					&:hover {
						background-color: $gray-100;
					}

					+ span,
					+ .Blog__item__meta__category {
						margin-left: 0.15em;
					}
				}
			}

			&__date {

				color: $icons-color;
				display: flex;
				align-items: center;
				margin-bottom: 0.5em;

				svg {

					@include square(1rem);
					position: relative;
					fill: $gray-500;
					margin-right: 0.25em;
				}
			}
		}

		&__content {
			padding: 1.625em 1.5em;

			p {
				font-size: 0.875rem;
				line-height: 1.5;
				color: $gray-500;
			}

			.learn-more {
				display: flex;
				align-items: center;
				margin-top: 1.5em;

				svg {
					margin-left: 0.5em;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				padding: 1.625em 1.875em;
			}
		}
	}

	.Pagination {
		margin: 2em auto;

		@media (min-width: $breakpoint-tablet) {
			margin: 3em auto 5em;
		}
	}
}
