/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Footer__TopBanner {
	background: #0e0e11 url(../../images/footer_banner_gradient.svg) center bottom no-repeat;
	text-align: center;
	padding: 3em 0;

	@media (min-width: $breakpoint-tablet) {
		padding: 8em 0;
	}

	&__wrapper {

		@include wrapper-styles($wrapper-md);

		&[class] {
			margin-bottom: 0;
		}
	}

	&__title {
		background: linear-gradient(to right, $white 25%, #b6b6b6 100%);
		background-clip: text;
		-webkit-text-fill-color: transparent;

		@media (min-width: $breakpoint-tablet) {

			&[class] {
				font-size: 3.25rem !important;
			}
		}
	}

	&__subtitle {
		color: $gray-400;
	}

	&__banner {
		position: relative;
		background: $black-level2;
		border-radius: $border-radius-10;
		border: 1px solid $borders-color;
		text-align: left;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		padding: 1.5em;
		overflow: hidden;

		&::after {
			display: block;
			position: absolute;
			left: 0;
			top: 5px;
			content: "";
			width: 1px;
			height: 75%;
			background: linear-gradient(to bottom, transparent, #0497dc 7%, #465ce0 50%, #0497dc 60%, #0497dc 75%, transparent);
			opacity: 0;
			transform: translateY(130%);
			transition: all 0.3s;
		}

		&--title {
			color: $white;
			margin: 0;
		}

		&--subtitle {
			color: $gray-400;
			margin: 0;
		}

		@media (min-width: $breakpoint-tablet) {
			display: flex;
			align-items: center;
			gap: 4em;
			padding: 2.5em;
			margin-top: 4.5em;
		}

		@media (hover: hover) {

			&:hover {

				&::after {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}
}
