/* stylelint-disable scss/at-extend-no-missing-placeholder,
no-descending-specificity */
@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Posts {

	&.flow-templates {

		.Posts__item--icon {

			picture,
			img {

				@include square(2em);

			}
		}
	}

	&__Header {
		background-color: $gray-50;
		margin-bottom: 3em;

		.wrapper {
			padding: 1.5em 1.5em 0;
		}

		&--filtering {
			margin-top: 1.5em;
			padding-bottom: 1.5em;

			.urlslab-MultiSelectMenu__title {
				background-color: transparent;
			}
		}

		img {
			display: none;
			height: 100%;
		}

		h1 {
			font-size: $font-size-h2-s;
		}

		@media (min-width: $breakpoint-tablet) {

			.wrapper {
				display: flex;
				flex-wrap: wrap;
				padding: 0;
			}

			&--filtering {
				margin-top: 2em;
			}

			h1 {
				font-size: $font-size-h2;
			}

			&--text {
				width: 57%;
				padding: 2em 0;
				margin-right: auto;
			}

			img {
				display: block;
			}
		}
	}

	&__items {

		&.empty,
		&:empty {

			&::before {
				content: "No results found... 😢";
				display: block;
				text-align: center;
				grid-column: 1/4;
			}
		}
	}

	&__item {
		$border-width: 2px;
		position: relative;
		margin-bottom: 0;
		background-color: $white;
		box-shadow: 0 0.9375em 0.625em -0.9375em rgba(9, 0, 44, 0.12);
		border: 1px solid $gray-200;
		border-radius: 0.625em - 0.125em;
		transition: border-color 0.3s;

		&::before {
			content: "";
			position: absolute;
			opacity: 0;
			left: - calc($border-width + 1px);
			top: - calc($border-width + 1px);
			width: calc(100% + $border-width * 2 + 2px); // 2px for the default li border
			height: calc(100% + $border-width * 2 + 2px); // 2px for the default li border
			background: $primary-gradient;
			border-radius: 0.625em;
			z-index: -1;
			transition: opacity 0.3s;

		}

		a {
			text-decoration: none;
		}

		&:has(.main) {
			padding: 0;
		}

		&--header {
			position: relative;
			overflow: hidden;
			border-top-right-radius: 0.625em;
			border-top-left-radius: 0.625em;
			background: url(../images/post_item_header-background-dots.png) no-repeat center left;
			background-size: auto 100%;

			&:not(:has(.Posts__item--image)) {
				top: -1px;
			}
		}

		&--icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3.125em;
			height: 3.125em;
			margin: 1em 0 1em 2em;
			border: 1px solid $gray-200;
			border-radius: $border-radius-6;
			background-color: $white;

			&:has(picture:not([src])) {

				picture {
					width: auto !important;
				}
			}

			img {

				@include square(1.5em);
			}
		}

		&--content {

			padding: 1.5em;

			h4 {
				font-size: $font-size-bigger;
			}

			p {
				font-size: $font-size-smaller;
			}
		}

		&.main {

			.Posts__item {

				&--inn {

					display: grid;
					grid-template-columns: 1fr;
					grid-template-rows: auto;
					align-items: flex-start;

					@media (min-width: $breakpoint-tablet-small) {
						grid-template-columns: 1fr 1fr;
					}

					@media (min-width: $breakpoint-desktop) {
						display: grid;
						grid-template-columns: 31.25em 1fr;
					}
				}

				&--header {
					position: relative;
					border-top-right-radius: 0;

					@media (min-width: $breakpoint-tablet) {
						height: 100%;
					}
				}

				&--icon {

					picture,
					img {

						@include square(2em);
						object-fit: cover;
						object-position: center;
					}
				}

				&--image {
					display: block;
					border-right: 1px solid $gray-200;
					background-size: cover;
					min-height: 14em;
					height: 100%;

					picture,
					img {

						@include square(100%);
						object-fit: cover;
						object-position: right bottom;
					}

					@media (min-width: $breakpoint-tablet) {
						display: block;
						border-right: 1px solid $gray-200;
						background-size: cover;
						min-height: 14em;
						height: 100%;
					}
				}

				&--content {
					padding: 0;

					&:has(.Posts__item--header) {

						.Posts__item--header {
							display: none;

							@media (min-width: $breakpoint-tablet) {
								display: block;
								position: relative;
								background-size: auto 100%;
								margin: 0;
								overflow: hidden;
								border-top-left-radius: 0;
							}
						}

					}

					h4 {
						font-size: 1.75rem;
						padding: 1.125em 1.875em 0 1.875em;
					}

				}

				&--excerpt {
					padding: 0 1.875em 1.875em 1.875em;
				}
			}
		}

		&:not(.main) {

			.Posts__item {

				&--inn {
					display: block;
					position: relative;
					z-index: 1;
				}

				&--categories {
					position: absolute;
					bottom: 0.75em;
					right: 0.75em;
					font-size: 0.75rem;
					z-index: 1;
				}

				&--category {
					display: inline-block;
					color: $black;
					font-size: 0.75rem;
					border-radius: $border-radius-6;
					border: 1px solid $accent-electric-blue;
					background-color: $white;
					padding: 0.125em 0.6em;

					&:hover {
						background-color: $gray-100;
					}

					+ li {
						margin-left: 0.45em;
					}
				}

			}
		}

		@media (max-width: ($breakpoint-tablet - 1px)) {

			&[class] {
				margin-bottom: 1.5em;
			}
		}

		&:hover {
			border-color: transparent;
			transition: border-color 0.3s;

			&::before {
				opacity: 1;
				transition: opacity 0.3s;
			}

			*:not(li) {
				color: $black;
			}

			a {
				text-decoration: none;
			}
		}
	}
}
