/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Footer {
	background-color: $gray-50;

	.wrapper-md {
		margin-bottom: 0;
		display: block;
		padding: 3.125em 1.125em 1.125em 1.125em;
	}

	.small {
		font-size: $font-size-smaller;
	}

	&__motto {
		margin-bottom: 1em;

		@media (min-width: $breakpoint-tablet-landscape) {
			max-width: 85%;
		}
	}

	&__newsletter {
		font-size: $font-size-smaller;
		margin-bottom: 4.375em;

		input[type="email"] {

			border-radius: $border-radius-6;
			padding: 0.95em 1.875em;
			font-size: 0.875rem;
			position: relative;
			background-color: $gray-200;
			height: 2.85em;

			@include input-placeholder {
				color: $level-3;
			}

			@media (min-width: $breakpoint-iphone-new) {
				right: -2em;
			}
		}


		button {
			font-size: 0.875rem;
			height: 2.85em;
			width: 100%;

			@media (min-width: $breakpoint-iphone-new) {
				width: fit-content;
			}

			span {
				line-height: 1.2;
				color: $white;
			}

			&.Button[disabled] {
				opacity: 1;
				background-color: $gray-500;
			}
		}

		&--form {
			width: min(100%, 31em);
			margin-top: 2em;

			@media (min-width: $breakpoint-tablet) {
				margin-left: -2em;
			}

			form {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 0.5em;

				@media (min-width: $breakpoint-iphone-new) {
					margin-left: -2em;
					flex-direction: row;
					align-items: center;
				}
			}
		}


		@media (min-width: $breakpoint-tablet) {
			display: flex;
			align-items: center;

			&--text {
				width: 40%;
			}

			&--form {
				margin-left: auto;
			}
		}
	}

	&__social {
		display: flex;
		margin: 1em 0;

		&--item {

			display: flex;
			align-items: center;

			svg {

				@include square(1.35em);
				fill: $level-4;
				margin-right: 0.5em;
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	a {
		color: $level-2;
		text-decoration: none;
	}

	&__navigation {
		display: grid;
		grid-template-columns: repeat(auto-fill, 150px);
		justify-content: space-between;
		color: $black;
		margin-top: 2.5em;
		gap: 2.5em;


		@media (min-width: $breakpoint-tablet) {
			grid-template-columns: repeat(4, 150px);
		}

		a {
			color: currentcolor;
		}

		.sub-menu {
			margin-top: 1em;
			display: flex;
			flex-direction: column;
			gap: 10px;

			li {
				font-weight: 400;
				font-size: $font-size-smaller;

				a {
					display: block;
					font-weight: inherit;
				}
			}

			.menu-item + .menu-item {
				margin-left: 0;
			}
		}

		.menu-item {

			> a[href="#"] {
				font-weight: 600;
				pointer-events: none;

				svg {
					display: none;
				}
			}

		}
	}

	&__main {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		row-gap: 2em;

		@media (min-width: $breakpoint-tablet-landscape) {
			flex-direction: row;
		}
	}

	&__bottom {
		margin-top: 4.375em;
		font-size: 0.75rem;

		&--copyright {
			font-size: 12px;
			color: $gray-400;
			margin-bottom: 0;
		}
	}

	@media (min-width: $breakpoint-tablet) {

		&__main {

			&--links {
				//margin-left: auto;
			}
		}

		&__navigation {
			margin-top: 0;

			.menu-item {

				+.menu-item {
					margin-left: 0;
				}
			}
		}

		&__bottom {
			display: flex;

			&--menu {
				margin-left: auto;

				.nav {
					display: flex;

					li {
						padding: 0 0.5em;
						color: $gray-400;
						font-size: 12px;
					}
				}
			}
		}

	}

	@media (min-width: $breakpoint-tablet-landscape) {

		&__navigation {
			flex-wrap: nowrap;
		}


	}
}
