/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "./FooterTopBanner";

.Footer {
	background-color: #0e0e11;
	color: $white;

	* {
		color: currentcolor;
	}

	.wrapper-md {
		margin-bottom: 0;
		display: block;
		padding: 3.125em 1.125em 1.125em 1.125em;
	}

	.small {
		font-size: $font-size-smaller;
	}

	&__motto {
		margin-bottom: 1em;

		@media (min-width: $breakpoint-tablet-landscape) {
			max-width: 85%;
		}
	}

	&__newsletter {
		font-size: $font-size-smaller;
		margin-bottom: 3.5em;

		input[type="email"] {

			border-radius: $border-radius-6;
			padding: 0.95em 1.875em;
			font-size: 0.875rem;
			position: relative;
			background-color: rgba($gray-500, 0.15);
			height: 2.85em;
			width: auto;
			transition: all 0.3s;

			@include input-placeholder {
				color: $level-3;
			}

			&:focus {
				background-color: rgba($gray-500, 0.3);

				@include input-placeholder {
					color: $white;
				}
			}
		}


		button {
			font-size: 0.875rem;
			height: calc(2.85em - 2px);
			width: 100%;

			@media (min-width: $breakpoint-iphone-new) {
				width: fit-content;
			}

			span {
				line-height: 1.2;
				color: $white;
			}

			&.Button[disabled] {
				opacity: 1;
			}
		}

		&--form {
			margin-top: 2em;

			form {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 0.5em;

				@media (min-width: $breakpoint-iphone-new) {
					flex-direction: row;
					align-items: center;
				}
			}
		}


		@media (min-width: $breakpoint-tablet) {
			display: flex;
			align-items: center;

			&--text {
				width: 40%;
			}

			&--form {
				margin-left: auto;
			}
		}
	}

	a {
		color: $white;
		text-decoration: none;
	}

	&__navigation {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(9.375em, 1fr));
		color: $white;
		margin-top: 2.5em;
		gap: auto;


		@media (min-width: $breakpoint-tablet) {
			grid-template-columns: repeat(5, 1fr);
			gap: 8%;
			width: 100%;
		}

		a {
			color: currentcolor;
			transition: all 0.3s;

			&:hover {
				background: $primary-gradient;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-decoration: none;
			}
		}

		.sub-menu {
			margin-top: 1em;
			display: flex;
			flex-direction: column;
			gap: 10px;

			li {
				font-weight: 400;
				font-size: $font-size-smaller;

				a {
					display: block;
					font-weight: inherit;
				}
			}

			.menu-item + .menu-item {
				margin-left: 0;
			}
		}

		.menu-item {

			> a[href="#"] {
				font-weight: 600;
				pointer-events: none;

				svg {
					display: none;
				}
			}

		}
	}

	&__bottom {
		font-size: 0.75rem;

		a {
			color: $gray-400;

			&:hover {
				color: $white;
				text-decoration: none;
			}
		}

		&--copyright {
			font-size: 12px;
			color: $gray-400;
			margin-bottom: 0;
		}
	}

	@media (min-width: $breakpoint-tablet) {


		&__navigation {
			margin-top: 0;

			.menu-item {

				+.menu-item {
					margin-left: 0;
				}
			}
		}

		&__newsletter {
			margin-top: 4.5em;
		}

		&__bottom {
			display: flex;

			&--menu {
				margin-left: auto;

				.nav {
					display: flex;

					li {
						padding: 0 0.5em;
						color: $gray-400;
						font-size: 12px;
					}
				}
			}
		}

	}

	@media (min-width: $breakpoint-tablet-landscape) {

		&__navigation {
			flex-wrap: nowrap;
		}


	}
}
