/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;

input[type="submit"],
input[type="button"],
button,
.button,
.Button,
%button {

	@include appearance;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: auto;
	// TODO changed for compatibility with MUI - FIXME
	//height: $button-height-normal;
	padding: 0 $button-padding-normal;
	border: 0;
	border-radius: $border-radius-6;
	font-size: $button-font-size-normal;
	font-weight: $font-weight-semi;
	white-space: nowrap;
	cursor: pointer;

	> svg {

		@include square(1.25em);
		fill: currentcolor;

		&:first-child {
			margin-right: 0.75em;
		}

		&:last-child {
			margin-left: 0.75em;
		}
	}

	&[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}
}

.Button + .Button {
	margin-top: 15px;

	@media (min-width: $breakpoint-iphone-new) {
		margin-top: 0;
		margin-left: 15px;
	}


	&--outline {
		top: 1px;
	}
}

%Button--full--hover {

	&::before {
		opacity: 0;
	}

	&::after {
		opacity: 1;
	}
}

.Button--full,
%buttonFull {

	color: $white !important;
	overflow: hidden;
	background: $primary-gradient;
	box-shadow: 0 4px 4px 0 rgba(8, 8, 8, 0.08), 0 1px 2px 0 rgba(8, 8, 8, 0.2), 0 6px 12px 0 rgba(255, 255, 255, 0.12) inset, 0 1px 1px 0 rgba(255, 255, 255, 0.2) inset !important;


	&::before {

		@include fullSize;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-radius: ($border-radius - 2);
		opacity: 1;
		transition: opacity 0.75s;
		z-index: 1;
		background: $primary-gradient;

	}

	&::after {

		@include fullSize;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-radius: ($border-radius - 2);
		opacity: 0;
		transition: opacity 0.75s;
		z-index: 1;
		background: $primary-gradient-reverse;
	}

	&:has(.elementor-button-link) {

		.elementor-button-link {

			@extend %buttonFull;
		}
	}


	span,
	strong {
		position: relative;
		z-index: 2;
		font-weight: $font-weight-semi;
	}

	&:active,
	&:focus,
	&:hover {

		@extend %Button--full--hover;
	}
}

.Button--secondary {
	color: $white;
	background-color: $secondary;
	border-color: $secondary;

	&:active,
	&:focus,
	&:hover {

		background-color: $secondary-dark;
		border-color: $secondary-dark;
	}
}

.Button--normal {
	color: #fff;
	background-color: $primary;
	transition: all 0.3s;
	overflow: hidden;

	span {
		position: relative;
		z-index: 2;
		line-height: $button-height-normal;
	}

	&:active,
	&:focus,
	&:hover {
		background-color: $primary-dark;
	}
}

.Button--dark {

	background-color: $black;
	border-color: $black;
	color: $white;
	box-shadow: 0 4px 4px 0 rgba(8, 8, 8, 0.08), 0 1px 2px 0 rgba(8, 8, 8, 0.2), 0 6px 12px 0 rgba(255, 255, 255, 0.12) inset, 0 1px 1px 0 rgba(255, 255, 255, 0.2) inset !important;

	&:active,
	&:focus,
	&:hover {
		border-color: $primary-dark;
		color: $primary;
	}

	&-bg {
		background-color: $black-real;
		color: $white;

		span {
			color: currentcolor !important;
		}

		svg {
			fill: currentcolor;
		}

		&:hover {
			background-color: $white;
			color: $black;
		}
	}
}

.Button--white {

	color: $black;
	background: $white;
	overflow: hidden;

	span {
		position: relative;
		z-index: 2;
		line-height: $button-height-normal;
		transition: all 0.3s;
	}

	&:hover {

		span {
			color: $primary;
		}
	}

	&--highlight {
		box-shadow: 0 0 0.75em 0.25em rgba($accent-electric-blue, 0);
		transition: all 0.3s;

		&:hover {
			box-shadow: 0 0 0.75em 0.25em rgba($accent-electric-blue, 0.8);

			span {
				color: $black;
			}
		}
	}
}

.Button--glowing {
	width: 165px;
	height: 3.125em; // 50px = 3.125em
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: $border-radius-6;

	font-size: 1rem;

	span {
		color: $black;
	}

	&::before {
		content: "";
		background-image: linear-gradient(45deg, #0497dc, #465ce0, #984ad7, #0497dc);
		background-attachment: fixed;
		position: absolute;
		top: -0.125em;
		left: -0.125em;
		background-size: 400% 400%;
		z-index: -1;
		filter: blur(5px);
		width: calc(100% + 0.25em);
		height: calc(100% + 0.25em);
		animation: glowing 5s linear infinite;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		border-radius: $border-radius-6;

		// this code is for safari blur issue
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);

	}

	&:active {
		color: #000;
	}

	&:active::after {
		background: transparent;
	}

	&:hover::before {
		opacity: 1;
	}

	&::after {
		z-index: -1;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: $white;
		left: 0;
		top: 0;
		border-radius: $border-radius-6;
	}

}

.Button--outline {

	color: $black;
	border: 1px solid $black;
	overflow: hidden;
	transition: all 0.3s;

	&-light {

		color: $level-3;
		border-color: $gray-300;
	}

	&--white {
		color: $white;
		border: 1px solid $white;
		transition: all 0.3s;

		&:hover {
			background-color: $white;
			color: $black;
		}
	}

	&--full {
		position: relative;
		background: linear-gradient(#0e0e11, #0e0e11) padding-box, $primary-gradient border-box;
		border-color: transparent;
		transition: all 0.3s;

		&::after {

			@include posZero;
			position: absolute;
			content: "";
			background: $primary-gradient;
			opacity: 0;
			transition: all 0.3s;
			border-radius: calc($border-radius-6 - 2px);
		}

		span {
			position: relative;
			z-index: 1;
		}

		&:hover {

			&::after {
				opacity: 1;
			}

			span {
				color: $white;
			}
		}
	}

	span {
		position: relative;
		z-index: 2;
	}

	strong {
		font-weight: 600;
	}

	&:active,
	&:focus,
	&:hover {

		color: $primary;
		border-color: $primary;
	}
}

.Button--outline--color {
	color: $primary;
	border: 1px solid currentcolor;
	background-color: transparent;
	transition: all 0.3s;

	&:active,
	&:focus,
	&:hover {
		background-color: currentcolor;

		span,
		strong {
			color: $white;
		}
	}
}

.Button--icon {
	display: inline-flex;
	align-items: center;
	font-size: 0.875rem;

	img,
	svg {

		@include square(1.75em);

		&:first-child {
			margin-right: 0.75em;
		}

		&:last-child {
			margin-left: 0.75em;
		}
	}
}

.Button--back {
	margin-top: 20px;
}

.Button--app {
	display: inline-block;
	width: auto;
	height: 3.4375em;
	min-width: 10em;

	&::after {
		display: none !important;
	}

	+ .Button--app {
		margin-left: 1.5em;
	}
}

.Button--narrow {
	height: 2.625rem;

	span,
	strong {
		line-height: 3;
	}
}

.Button--small {
	padding: 0.5625em 1.625em;

	span,
	strong {
		font-size: 1rem;
		line-height: 1;
	}
}

.Button--medium {
	padding: 0.75em 1.875em;

	span,
	strong {
		font-size: 1rem;
		line-height: 1.4;
	}
}

.Button--big {
	padding: 0.75em 3.75em;

	span,
	strong {
		font-size: 1.125rem;
		line-height: 2;
	}

}
