/* stylelint-disable no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

%checklist {
	list-style: none;
	padding-left: 0.5em;
	text-align: left;

	li {

		position: relative;
		font-size: 1rem;
		margin-bottom: 0.5em;
		padding-left: 1em;

		&::before {
			margin-left: -1.5em;
		}
	}
}

.elementor-widget-text-editor {

	ul {

		@extend %checklist;
	}
}

.checklist {

	&.elementor-widget-text-editor {
		width: auto;
		margin-top: 1.5em;

		p strong {
			display: block;
			font-weight: 600;
			font-size: 1.125em;
			margin-bottom: 0.5em;
		}

		ul:not([class]) {

			@extend %checklist;
		}
	}

	&-slim {

		.elementor-widget-text-editor {

			ul {

				font-weight: 400 !important;
			}
		}
	}
}
