/* stylelint-disable no-descending-specificity */

@use "../common/mixins" as *;
@use "../common/variables" as *;

.searchField {
	position: relative;
	width: 100%;
	margin: 0;


	input[type="search"] {
		display: block;
		width: 100%;
		min-width: initial;
		height: 2.857em;
		padding-left: 3.5em;
		border-radius: $border-radius-6;
		font-size: 0.875rem;
		color: $gray-400;
		background-color: $white;
		border: 1px solid $gray-300;
		box-shadow: none;
		transition: all 0.2s, background-color 0.2s;

		&::-ms-clear,
		&::-ms-reveal {
			display: none;
			width: 0;
			height: 0;
		}

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}

		&:focus {
			box-shadow: none;
			color: $black;
		}
	}

	.search-reset {

		@include square(1.5em);
		position: absolute;
		top: 50%;
		right: 1.1em;
		display: flex;
		opacity: 0;
		pointer-events: none;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: $gray-300;
		transform: translateY(-50%);
		cursor: pointer;

		&__icon {

			@include square(0.5em);
		}

		&--active {
			opacity: 1;
			pointer-events: initial;
		}
	}

	&__icon {

		@include square(1.25em);
		position: absolute;
		top: 50%;
		left: 1.1em;
		transform: translateY(-50%);
	}
}
